header{
  display: flex;
  padding: 0px 20px;
  justify-content: space-between;
  background-color:#01011a ;
  align-items: center;
}
header .logo{
  width: 30%;
  text-transform: uppercase;
  color: white;
}
header ul.menu{
  width: 70%;
  list-style: none;
  display: flex;
}
a{
  text-decoration: none;
  color: white;
}
header ul.menu>li{
  padding :12px 20px ;
  border-right: 1px solid #fff;
}
header ul.menu>li:last-child{
  border: none;
}
body {
    background-image: url('longan.jpg');
    background-size: cover;
    background-attachment: fixed;
}

